*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

## Actual game files
app/src/main/assets/www/bgm
app/src/main/assets/www/effect
app/src/main/assets/www/image
app/src/main/assets/www/movie
app/src/main/assets/www/save
app/src/main/assets/www/script
app/src/main/assets/www/sound
app/src/main/assets/www/voice