.shadow {text-shadow: black 2px 2px;}
.outline {text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 2px 2px 1px #000;}
.at-left, .slide-in-left {left: -100%;}
.at-right, .slide-in-right {right: -100%;}
.border-white {border-top: 1px solid white;border-bottom: 1px solid white;}
.border-white.at-right, .border-white.slide-in-right {border-left: 1px solid white;border-top-left-radius: 5px;border-bottom-left-radius: 5px;}
.border-white.at-left, .border-white.slide-in-left {border-right: 1px solid white;border-top-right-radius: 5px;border-bottom-right-radius: 5px;}
.alert-top{position: fixed;top: 10px;left:2%;width: 96%;}
.alert-bottom{position: fixed;bottom: 10px;left:2%;width: 96%;}
.hidden {display: none !important; visibility: hidden !important;}
.modaless{top:0;left:auto;bottom:auto;right:0;}
